<!DOCTYPE html>
<html>
<head>
<title>
  AngularJs $http.post()
</title>

</head>

<body>
<center>
<div ng-app="postService" ng-controller="postServiceCtrl">
<div>
Id : <input ng-model="id" /><br/><br/>
UserName : <input ng-model="username" /><br/><br/>
Password : <input type="password" ng-model="password" /><br/><br/>
Email : <input ng-model="email" /><br/><br/>
Contact : <input ng-model="contact" /><br/><br/>
Country : <input ng-model="country" /><br/><br/>
<input type="button" value="Send" ng-click="postdata(id, username, password, email, contact, country)" /> <br/><br/>
</div>
<p>Output : {{msg}}</p>
<br>
</div>
</center>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
  var app = angular.module('postService', []);
  app.controller('postServiceCtrl', function ($scope, $http, $q)
  {
    $scope.id = null;
    $scope.userName = null;
    $scope.password = null;
    $scope.email = null;
    $scope.contact = null;
    $scope.country = null;
    $scope.postdata = function (in_id, in_userName, in_password, in_email, in_contact, in_country)
    {
      var data =
      {
	id: in_id,
        userName: in_userName,
        password: in_password,
	email: in_email,
	contact: in_contact,
	country: in_country
      };
      
      var deferred = $q.defer();
      $http.post('http://localhost:8080/v1.0/users/', JSON.stringify(data))
      .success(function(response)
      {
	  $scope.msg = "Post Data Submitted Successfully!";
      	  deferred.resolve(response);
      })
      .error(function(response)
      {
        $scope.msg = "Service doesn't exist!";
        $scope.statusval = response.status;
        $scope.statustext = response.statusText;
        $scope.headers = response.headers();
	deferred.reject(response);
      });
      return deferred.promise;
    };
});
</script>
</body>
</html>